{% extends 'base.html' %} {% block content %}
<div style="margin-top: 20px;" class="container">
  {% if conferences %} 
  <div class="row">
      {% for conference in conferences %}
    <div style="margin-bottom: 15px;" class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{conference.title}}</h5>
          <p class="card-text">{{conference.description}}</p>
          <a href="{% url 'view-conference' conference.pk %}" class="btn btn-secondary">View Conference</a>
        </div>
      </div>
    </div>
     {% endfor %}
  </div>
  {% else %}
  <p>There are no conference</p>
  {% endif %}
</div>

{% endblock %}
